In [1]:
import numpy as np 
import pandas as pd

In [2]:
df=pd.read_csv("emails.csv")
df

                                                   text  spam
0     Subject: naturally irresistible your corporate...     1
1     Subject: the stock trading gunslinger  fanny i...     1
2     Subject: unbelievable new homes made easy  im ...     1
3     Subject: 4 color printing special  request add...     1
4     Subject: do not have money , get software cds ...     1
...                                                 ...   ...
5723  Subject: re : research and development charges...     0
5724  Subject: re : receipts from visit  jim ,  than...     0
5725  Subject: re : enron case study update  wow ! a...     0
5726  Subject: re : interest  david ,  please , call...     0
5727  Subject: news : aurora 5 . 2 update  aurora ve...     0

[5728 rows x 2 columns]

In [3]:
df.isnull().sum()

text    0
spam    0
dtype: int64

In [4]:
df.describe()

              spam
count  5728.000000
mean      0.238827
std       0.426404
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

In [5]:
df.spam.value_counts()

0    4360
1    1368
Name: spam, dtype: int64

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.spam.value_counts()

0    4327
1    1368
Name: spam, dtype: int64

In [8]:
x=df["text"]

In [9]:
y=df["spam"]

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
cv=CountVectorizer()
X=cv.fit_transform(x)

In [12]:
X.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [4, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2)

In [15]:
X_train

<4556x37303 sparse matrix of type '<class 'numpy.int64'>'
	with 558766 stored elements in Compressed Sparse Row format>

In [16]:
from sklearn.naive_bayes import MultinomialNB
clf=MultinomialNB()
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.9894644424934153

# TF-IDF (term frequency-inverse document frequency)

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [18]:
tv=TfidfVectorizer()

In [19]:
xt=tv.fit_transform(x)

In [20]:
xt.toarray()

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.11405234, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [21]:
xtr,xtst,ytr,ytst=train_test_split(xt,y,test_size=0.2)

In [22]:
model=MultinomialNB()

In [23]:
model.fit(xtr,ytr)

MultinomialNB()

In [24]:
model.score(xtst,ytst)

0.8797190517998245