In [40]:
import numpy as np 
import pandas as pd

In [41]:
df=pd.read_csv("spam.csv")
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will �_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [42]:
df.v1.value_counts()

ham     4825
spam     747
Name: v1, dtype: int64

In [43]:
df.drop_duplicates(inplace=True)

In [44]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will �_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [45]:
df.isnull().sum()

v1               0
v2               0
Unnamed: 2    5126
Unnamed: 3    5159
Unnamed: 4    5164
dtype: int64

In [46]:
df.v2.value_counts()

Nope... Think i will go for it on monday... Sorry i replied so late                                                                                                    1
Hope you are having a good week. Just checking in                                                                                                                      1
Hello. They are going to the village pub at 8 so either come here or there accordingly. Ok?                                                                            1
Love it! Daddy will make you scream with pleasure! I am going to slap your ass with my dick!                                                                           1
Say this slowly.? GOD,I LOVE YOU &amp; I NEED YOU,CLEAN MY HEART WITH YOUR BLOOD.Send this to Ten special people &amp; u c miracle tomorrow, do it,pls,pls do it...    1
                                                                                                                                                                      ..
Ugh my leg hurts. Musta overdid it on mon.                                                                                                                             1
Its hard to believe things like this. All can say lie but think twice before saying anything to me.                                                                    1
Motivate Behind every darkness, there is a shining light waiting for you to find it... Behind every best friend, there is always trust and love... BSLVYL              1
You have WON a guaranteed �1000 cash or a �2000 prize. To claim yr prize call our customer service representative on 08714712394 between 10am-7pm                      1
Oic... Then better quickly go bathe n settle down...                                                                                                                   1
Name: v2, Length: 5169, dtype: int64

In [47]:
df.v1.value_counts()

ham     4516
spam     653
Name: v1, dtype: int64

# CountVectorizer

In [48]:
from sklearn.feature_extraction.text import CountVectorizer

In [49]:
cv=CountVectorizer()

In [50]:
x=df["v2"]

In [51]:
y=df["v1"]

In [52]:
X=cv.fit_transform(x)

In [53]:
X.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [54]:
from sklearn.preprocessing import LabelEncoder

In [55]:
l=LabelEncoder()

In [56]:
Y=l.fit_transform(df["v1"])

In [57]:
Y

array([0, 0, 1, ..., 0, 0, 0])

In [58]:
from sklearn.model_selection import train_test_split

In [59]:
x_train,x_test,y_train,ytest=train_test_split(X,Y,test_size=0.2)

In [60]:
from sklearn.naive_bayes import MultinomialNB

In [61]:
model=MultinomialNB()

In [62]:
model.fit(x_train,y_train)

MultinomialNB()

In [63]:
model.score(x_test,ytest)

0.9835589941972921

# TF-IDF (term frequency-inverse document frequency)

In [64]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [65]:
vect=TfidfVectorizer()

In [33]:
xtrain=vect.fit_transform(x)

In [34]:
ytrain=vect.fit_transform(y)

In [66]:
xtrn,xt,ytr,yt=train_test_split(xtrain,Y,test_size=0.2)

In [67]:
m=MultinomialNB()

In [69]:
m.fit(xtrn,ytr)

MultinomialNB()

In [70]:
m.score(xt,yt)

0.9613152804642167